/* .footer {
  margin-top: 100px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #12141d;
  color: #fff;
  text-align: center;
}
#sticky-footer {
  flex-shrink: none;
} */
